<template id="tmpl-drivers">
    <h2 class="mb-3">Drivers List</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Nationality</th>
                <th>License</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="tbody-drivers"></tbody>
        </table>
    </div>
</template>